body{
    display:grid;
    grid-template-columns:repeat(5,1fr);
}
header{
    grid-column:2/6;
    grid-row:1/2;
    border:5px solid red;
}
.sidebar{
    grid-area:1/1/4/2;
    border:5px solid blue;

}
main{
    /*as child container*/
    grid-column:2/6;
}
main article{
    display:grid;
    grid-template-columns: 2fr 1fr;
}
.cards{
    display:grid;
    grid-template-columns:repeat(2,1fr);
}