body{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
header{
    grid-column:2/4;
    grid-row:1/2;
    border:5px solid red;
}
.sidebar{
    grid-area:1/1/4/2;
    border:5px solid blue;
}